* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, rgb(85, 15, 85), rgb(0, 80, 67));
    min-height: 100vh;
}

h1, h2 {
    text-align: center;
    color: rgb(255, 244, 88);;
}

h1 {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 3rem;
}

h2 {
    max-width: 400px;
    margin: 2rem auto;
}

form {
    width: 100%;
}

form input, form button {
    display: block;
    padding: 0.3rem 0.4rem;
    border: none;
    border-radius: 10px;
    margin: 1rem auto 0 auto;
}


form input {
    box-shadow: inset -2px -2px 5px black;
    width: 200px;
}

form input:focus {
    outline: none;
    box-shadow: inset -2px -2px 5px black, 0 0 10px yellow;
}

form button:focus {
    outline: none;
    box-shadow: 0 0 10px yellow;
}

form button {
    background-color: rgb(255, 230, 0);
    width: 180px;
    font-weight: bolder;
}

p {
    color: red;
    text-align: center;
}

span {
    background-color: white;
}